<p style="margin: 0">If you have any questions or need further assistance, </p>
<p style="margin: 0">please contact our support team at </p>
<p style="margin: 0"><span style="color: #0A6CFF">mortgage@pacificwide.com</span> or <span style="color: #0A6CFF">(408)
    532-1278</span></p>
<p style="margin: 10px 0 0 0;">Thank you</p>
<p style="margin: 0">Pacificwide Real Estate & Mortgage Team</p>
