<!DOCTYPE html>
<html>

<head>
  <title>Your account is ready!</title>
</head>

<body style="font-size: 14px; margin: auto;
    max-width: 516px;
    min-width: 220px;
    color:  #333133;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    ">
  {{> header}}
  <div style="margin: 24px 0; 
color: #00B553;
text-align: center;
/* Headline/Desktop/H4 */
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 112.5% */
letter-spacing: 0.8px;">
    <p style="margin: 0">Password Successfully Changed</p>
    <p style="color:  #333133;
text-align: center;
margin: 0;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */">Your personal information is now secure</p>
  </div>

  {{!-- /* ---- */ --}}
  <div style="border-radius: 16px;
border: 1px solid rgba(128, 125, 126, 0.30);
background: rrgba(128, 125, 126, 0.30); margin: 24px 0;"></div>
  <div style="color: #333133;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */">
    <div>
      <p style="margin: 0">Dear {{ customerName }},</p>
    </div>
    <br>
    <div>
      <p style="margin: 0"> Congratulations! Your password has been successfully changed. Your account is now secured
        with a new password, providing enhanced protection for your personal information.

      </p>
    </div>
    <br>

    <div>

      <p style="margin: 0">If you made this password change, you can now log in to your account using your updated
        credentials. If you did
        not authorize this change, please contact our customer support immediately at [Customer Support Contact Details]
        for further assistance.</p>

    </div>
    <br>

    <div>

      <p style="margin: 0">
        If you have any further questions or encounter any issues accessing your account, please don't hesitate to reach
        out to our customer support team. We're here to assist you.
      </p>

    </div>
    <div>

      <p style="margin: 0">
        Thank you for choosing Pacificwide Real Estate & Mortgage. We are committed to providing a secure and seamless
        experience for all our customers.
      </p>

    </div>

    <br>

    <div>

      <p style="margin: 0">
        Best regards,
      </p>
      <p style="margin: 0">
        Pacificwide Real Estate & Mortgage Team

      </p>
    </div>
  </div>

  {{> footer}}
</body>

</html>
