<!DOCTYPE html>
<html>

<head>
  <title>RESET PASSWORD</title>

</head>

<body style="font-size: 14px; margin: auto;
    max-width: 516px;
    min-width: 220px;
    color:  #333133;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    ">
  {{> header}}
  <div style="margin: 24px 0; 
                color: #0A090A; 
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 112.5% */
letter-spacing: 0.8px;">
    <p>FORGOT PASSWORD</p>

  </div>

  <div style="border-radius: 16px;
border: 1px solid rgba(128, 125, 126, 0.30);
background: rrgba(128, 125, 126, 0.30); margin: 24px 0;"></div>
  <p>Dear {{ customerName }}, </p>
  <p style="-top: 0">
    Click the link below to reset password. This link will expire in {{ timeExpired }} hour.
  </p>
  <p style="margin: 24px 0;"><a href="{{ linkResetPassword }}" style="text-decoration: none">{{ linkResetPassword }}</a>
  </p>
  <p style="margin: 0">You received this email because you requested to forgot password for an account. If you didn’t
    make this request, you can safely ignore this email.</p>


  {{> contact_us}}

  {{> footer}}

</body>

</div>

</html>
